*{
    margin: 0px;
    padding: 0px;
}
html {
  scroll-behavior: smooth;
}

/* From Uiverse.io by VashonG */ 
.resume-btn {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 200px;
  }
  
  .resume-btn .btn-r {
    height: 50px;
    margin: 20px;
    position: relative;
    width: 155px;
  }
  
  .resume-btn .btn-r a {
    align-items: center;
    background: rgba(255, 255, 255, 0.05);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 30px;
    box-shadow: 0 15px 35px rgba(255, 255, 255, 0.2);
    color: #fff;
    display: flex;
    font-size: 18px;
    font-weight: 700;
    left: 0;
    top: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    justify-content: center;
    letter-spacing: 1px;
    text-decoration: none;
    overflow: hidden;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(15px);
    z-index: 1;
    transition: 0.5s;
  }
  
  .resume-btn .btn-r:hover a {
    letter-spacing: 2px;
  }
  
  .resume-btn .btn-r a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: linear-gradient(to left,
                  rgba(255,255,255,0.15),
                  transparent);
    transform: skewX(45deg) translateX(0);
    transition: 0.5s;
  }
  
  .resume-btn .btn-r:hover a::before {
    transform: skewX(45deg) translateX(200%);
  }
  
  .resume-btn .btn-r::before {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -5px;
    height: 10px;
    width: 30px;
    background: rgb(63, 238, 10);
    border-radius: 10px;
    transition: 0.5s;
    transition-delay: 0s;
  }
  
  .resume-btn .btn-r:hover::before {
    bottom: 0;
    height: 50%;
    width: 80%;
    border-radius: 30px;
    transition-delay: 0.5s;
  }
  
  .resume-btn .btn-r::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -5px;
    height: 10px;
    width: 30px;
    background: rgb(7, 245, 59);
    border-radius: 10px;
    transition: 0.5s;
    transition-delay: 0s;
  }
  
  .resume-btn .btn-r:hover::after {
    top: 0;
    height: 50%;
    width: 80%;
    border-radius: 30px;
    transition-delay: 0.5s;
  }
  
  .resume-btn .btn-r:nth-child(1):before,
  .resume-btn .btn-r:nth-child(1)::after {
    background: #0cf318;
    box-shadow: 0 0 5px #0ffb2e,
      0 0 15px #2bff59,
      0 0 30px #32ff2b,
      0 0 60px #22ff47;
  }
  
  .resume-btn .btn-r:active a {
    color: #000;
  }
  
@import url("s://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;700&display=swap");

.btn-con {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 13rem;
  overflow: hidden;
  height: 4rem;
  background-size: 300% 300%;
  backdrop-filter: blur(1rem);
  border-radius: 5rem;
  transition: 0.5s;
  animation: gradient_301 5s ease infinite;
  border: double 4px transparent;
  background-image: linear-gradient(#161a25, #161a25),
    linear-gradient(
      137.48deg,
      #f5434f 10%,
      #631e29 45%,
      #000000 67%,
      #161a25 87%
    );
  background-origin: border-box;
  background-clip: content-box, border-box;
  font-family: "Orbitron", sans-serif;
}

#container-stars {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: 0.5s;
  backdrop-filter: blur(1rem);
  border-radius: 5rem;
}

strong {
  z-index: 2;
  font-family: "Orbitron", sans-serif;
  font-size: 12px;
  letter-spacing: 5px;
  color: #ffffff;
  text-shadow: 0 0 4px white;
}

#glow {
  position: absolute;
  display: flex;
  width: 12rem;
}

.circle-container {
  position: relative;
  width: 100%;
  height: 100%;
  animation: orbit 5s linear infinite;
}

.circle {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  filter: blur(2rem);
}

.circle:nth-of-type(1) {
  background: rgba(245, 67, 79, 0.636);
  animation: orbit 8s linear infinite;
}

.circle:nth-of-type(2) {
  background: rgba(99, 30, 41, 0.704);
  animation: orbit 10s linear infinite;
}

.btn-con:hover #container-stars {
  z-index: 1;
  background-color: #161a25;
}

.btn-con:hover {
  transform: scale(1.1);
}

.btn-con:active {
  border: double 4px #631e29;
  background-origin: border-box;
  background-clip: content-box, border-box;
  animation: none;
}

.btn-con:active .circle {
  background: #631e29;
}

@keyframes orbit {
  from {
    transform: rotate(0deg) translateX(100px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(100px) rotate(-360deg);
  }
}

#stars {
  position: relative;
  background: transparent;
  width: 200rem;
  height: 200rem;
}

#stars::after {
  content: "";
  position: absolute;
  top: -10rem;
  left: -100rem;
  width: 100%;
  height: 100%;
  animation: animStarRotate 90s linear infinite;
}

#stars::after {
  background-image: radial-gradient(#ffffff 1px, transparent 1%);
  background-size: 50px 50px;
}

#stars::before {
  content: "";
  position: absolute;
  top: 0;
  left: -50%;
  width: 170%;
  height: 500%;
  animation: animStar 60s linear infinite;
}

#stars::before {
  background-image: radial-gradient(#ffffff 1px, transparent 1%);
  background-size: 50px 50px;
  opacity: 0.5;
}

@keyframes animStar {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-135rem);
  }
}

@keyframes animStarRotate {
  from {
    transform: rotate(360deg);
  }

  to {
    transform: rotate(0);
  }
}

@keyframes gradient_301 {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes pulse_3011 {
  0% {
    transform: scale(0.75);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(0.75);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}



/* Card */
/* From Uiverse.io by JAE2Dev */ 
.skill-card {
  --background: linear-gradient(to right, #13b37f 0%, #11a3c8 100%);
  width: 150px;
  height: 170px;
  padding: 0.9px;
  border-radius: 0.7rem;
  overflow: visible;
  background: #f7ba2b;
  background: var(--background);
  position: relative;
  z-index: 1;
}

.skill-card::after {
  position: absolute;
  content: "";
  top: -22px;
  left: 0px;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  transform: scale(0.76);
  filter: blur(34.5px);
  background: #f7ba2b;
  background: var(--background);
  transition: opacity 0.5s;
}

.skill-card-info {
  --color: #1f1a1d;
  background: var(--color);
  color: var(--color);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: visible;
  border-radius: 0.7rem;
}

.skill-card .title {
  font-weight: light;
  letter-spacing: 0.2em;
  color:white ;
}

/*Hover*/
.skill-card:hover::after {
  opacity: 0.6;
  padding: 0.7rem 0;
  top: 18px;
  transition: 0.6s;
}

.skill-card:hover .card-info {
  color: #fff9f9;
  transition: color 1s;
}


FrontL btn 
/* From Uiverse.io by Mhdjd */ 
.frontL {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 200px;
}

.frontL .btn-fl {
  height: 40px;
  position: relative;
  width: 200px;
}

.frontL .btn-fl a {
  align-items: center;
  background: rgba(255, 0, 255, 0.05);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 30px;
  box-shadow: 0 15px 35px rgba(255, 255, 255, 0.2);
  color: #fff;
  display: flex;
  font-size: 18px;
  font-weight: 700;
  left: 0;
  top: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  justify-content: center;
  letter-spacing: 1px;
  text-decoration: none;
  overflow: hidden;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(15px);
  z-index: 1;
  transition: 0.5s;
}

.frontL .btn-fl:hover a {
  letter-spacing: 2px;
}

.frontL .btn-fl a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: linear-gradient(to left, rgba(255, 255, 255, 0.15), transparent);
  transform: skewX(45deg) translateX(0);
  transition: 0.5s;
}

.frontL .btn-fl:hover a::before {
  transform: skewX(45deg) translateX(200%);
}

.frontL .btn-fl::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -5px;
  height: 10px;
  width: 30px;
  background: rgb(8, 107, 183);
  border-radius: 10px;
  transition: 0.5s;
  transition-delay: 0s;
}

.frontL .btn-fl:hover::before {
  bottom: 0;
  height: 50%;
  width: 80%;
  border-radius: 30px;
  transition-delay: 0.5s;
}

.frontL .btn-fl::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -5px;
  height: 10px;
  width: 30px;
  background: rgb(7, 95, 189);
  border-radius: 10px;
  transition: 0.5s;
  transition-delay: 0s;
}

.frontL .btn-fl:hover::after {
  top: 0;
  height: 50%;
  width: 80%;
  border-radius: 30px;
  transition-delay: 0.5s;
}

.frontL .btn-fl:nth-child(1):before,
.frontL .btn-fl:nth-child(1)::after {
  background: #ba55d3;
  box-shadow: 0 0 5px #663399, 0 0 15px #ba55d3, 0 0 30px #663399,
    0 0 60px #ff00ff;
}

.frontL .btn-fl:active a {
  color: #ba55d3;
}

/* BackL btn */
/* From Uiverse.io by VashonG */ 
.backL {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 200px;
}

.backL .btn-bl {
  height: 40px;
  position: relative;
  width: 200px;
}

.backL .btn-bl a {
  align-items: center;
  background: rgba(255, 255, 255, 0.05);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 30px;
  box-shadow: 0 15px 35px rgba(255, 255, 255, 0.2);
  color: #fff;
  display: flex;
  font-size: 18px;
  font-weight: 700;
  left: 0;
  top: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  justify-content: center;
  letter-spacing: 1px;
  text-decoration: none;
  overflow: hidden;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(15px);
  z-index: 1;
  transition: 0.5s;
}

.backL .btn-bl:hover a {
  letter-spacing: 2px;
}

.backL .btn-bl a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: linear-gradient(to left,
                rgba(255,255,255,0.15),
                transparent);
  transform: skewX(45deg) translateX(0);
  transition: 0.5s;
}

.backL .btn-bl:hover a::before {
  transform: skewX(45deg) translateX(200%);
}

.backL .btn-bl::before {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -5px;
  height: 10px;
  width: 30px;
  background: rgb(249, 26, 1);
  border-radius: 10px;
  transition: 0.5s;
  transition-delay: 0s;
}

.backL .btn-bl:hover::before {
  bottom: 0;
  height: 50%;
  width: 80%;
  border-radius: 30px;
  transition-delay: 0.5s;
}

.backL .btn-bl::after {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -5px;
  height: 10px;
  width: 30px;
  background: rgb(255, 0, 0);
  border-radius: 10px;
  transition: 0.5s;
  transition-delay: 0s;
}

.backL .btn-bl:hover::after {
  top: 0;
  height: 50%;
  width: 80%;
  border-radius: 30px;
  transition-delay: 0.5s;
}

.backL .btn-bl:nth-child(1):before,
.backL .btn-bl:nth-child(1)::after {
  background: #ff0000;
  box-shadow: 0 0 5px #ff00008a,
    0 0 15px #ff2b2b,
    0 0 30px #ff2b2b,
    0 0 60px #ff2b2b;
}

.backL .btn-bl:active a {
  color: #000;
}


/* FrontG btn */
/* From Uiverse.io by csemszepp */ 
.frontG {
  width: 200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.frontG .btn-fg {
  position: relative;
  top: 0;
  left: 0;
  width: 250px;
  height: 40px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.frontG .btn-fg a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 15px 15px rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 30px;
  padding: 10px;
  letter-spacing: 1px;
  text-decoration: none;
  overflow: hidden;
  color: #fff;
  font-weight: 400px;
  z-index: 1;
  transition: 0.5s;
  backdrop-filter: blur(15px);
}

.frontG .btn-fg:hover a {
  letter-spacing: 3px;
}

.frontG .btn-fg a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: linear-gradient(to left, rgba(255, 255, 255, 0.15), transparent);
  transform: skewX(45deg) translate(0);
  transition: 0.5s;
  filter: blur(0px);
}

.frontG .btn-fg:hover a::before {
  transform: skewX(45deg) translate(200px);
}

.frontG .btn-fg::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
  bottom: -5px;
  width: 30px;
  height: 10px;
  background: #f00;
  border-radius: 10px;
  transition: 0.5s;
  transition-delay: 0.5;
}

.frontG .btn-fg:hover::before /*lightup button*/ {
  bottom: 0;
  height: 50%;
  width: 80%;
  border-radius: 30px;
}

.frontG .btn-fg::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
  top: -5px;
  width: 30px;
  height: 10px;
  background: #f00;
  border-radius: 10px;
  transition: 0.5s;
  transition-delay: 0.5;
}

.frontG .btn-fg:hover::after /*lightup button*/ {
  top: 0;
  height: 50%;
  width: 80%;
  border-radius: 30px;
}

.frontG .btn-fg:nth-child(1)::before,
.frontG .btn-fg:nth-child(1)::after {
  background: #ff1f71;
  box-shadow: 0 0 5px #ff1f71, 0 0 15px #ff1f71, 0 0 30px #ff1f71,
		0 0 60px #ff1f71;
}


/* BackG btn */

/* From Uiverse.io by VashonG */ 
.backG {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 200px;
}

.backG .btn-bg {
  height: 40px;
  position: relative;
  width: 200px;
}

.backG .btn-bg a {
  align-items: center;
  background: rgba(255, 255, 255, 0.05);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 30px;
  box-shadow: 0 15px 35px rgba(255, 255, 255, 0.2);
  color: #fff;
  display: flex;
  font-size: 18px;
  font-weight: 700;
  left: 0;
  top: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  justify-content: center;
  letter-spacing: 1px;
  text-decoration: none;
  overflow: hidden;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(15px);
  z-index: 1;
  transition: 0.5s;
}

.backG .btn-bg:hover a {
  letter-spacing: 2px;
}

.backG .btn-bg a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: linear-gradient(to left,
                rgba(255,255,255,0.15),
                transparent);
  transform: skewX(45deg) translateX(0);
  transition: 0.5s;
}

.backG .btn-bg:hover a::before {
  transform: skewX(45deg) translateX(200%);
}

.backG .btn-bg::before {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -5px;
  height: 10px;
  width: 30px;
  background: rgb(8, 107, 183);
  border-radius: 10px;
  transition: 0.5s;
  transition-delay: 0s;
}

.backG .btn-bg:hover::before {
  bottom: 0;
  height: 50%;
  width: 80%;
  border-radius: 30px;
  transition-delay: 0.5s;
}

.backG .btn-bg::after {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -5px;
  height: 10px;
  width: 30px;
  background: rgb(7, 95, 189);
  border-radius: 10px;
  transition: 0.5s;
  transition-delay: 0s;
}

.backG .btn-bg:hover::after {
  top: 0;
  height: 50%;
  width: 80%;
  border-radius: 30px;
  transition-delay: 0.5s;
}

.backG .btn-bg:nth-child(1):before,
.backG .btn-bg:nth-child(1)::after {
  background: #dfff2b;
  box-shadow: 0 0 5px #d1ff2b,
    0 0 15px #eaff2b,
    0 0 30px #dfff2b,
    0 0 60px #dfff2b;
}

.backG .btn-bg:active a {
  color: #000;
}

/* From Uiverse.io by Creatlydev */ 
.btn-github {
  width: 200px;
  height: 50px;
  cursor: pointer;
  display: flex;
  gap: 0.5rem;
  border: none;

  transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  border-radius: 100px;
  font-weight: 800;
  place-content: center;

  padding: 0.75rem 1rem;
  font-size: 0.825rem;
  line-height: 1.5rem;

  background-color: rgba(0, 0, 0, 0.4);
  box-shadow:
    inset 0 1px 0 0 rgba(255, 255, 255, 0.04),
    inset 0 0 0 1px rgba(255, 255, 255, 0.04);
  color: #fff;
}

.btn-github:hover {
  box-shadow:
    inset 0 1px 0 0 rgba(255, 255, 255, 0.08),
    inset 0 0 0 1px rgba(252, 232, 3, 0.08);
  color: #fce803;
  transform: translate(0, -0.25rem);
  background-color: rgba(0, 0, 0, 0.5);
}

